<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="congthuc.com.a4t" >

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".StartActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:theme="@style/FullscreenTheme" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main" >
        </activity>
        <activity
            android:name=".ThucActivity"
            android:label="@string/title_activity_thuc" >
        </activity>
        <activity
            android:name=".TungActivity"
            android:label="@string/title_activity_tung" >
        </activity>
        <activity
            android:name=".DoJobs"
            android:label="@string/title_activity_do_jobs" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ThucActivity" />
        </activity>
    </application>

</manifest>
